<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->

<agm-map [zoom]="15" [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="iconPerson">
        <agm-info-window>
            <h1>Ciao</h1>
        </agm-info-window>
    </agm-marker>
    <agm-marker *ngFor="let mono of fooData" [iconUrl]="iconScooter" [latitude]="mono.position.lat" [longitude]="mono.position.lng">
        <agm-info-window>
            <h1>Ciao</h1>
        </agm-info-window>
    </agm-marker>
</agm-map>
