.main-div{
  margin: 0 auto;
  display: table;
}

.example-card {
  max-width: 600px;
}
.example-full-width {
  width: 100%;
}
.example-50-width {
  width: 50%;
}
td {
  padding-right: 8px;
}
div {
  margin:0;
  padding:0;
}
